body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#songName{
  font-weight: bold;
}

.songCard p{
  margin: 0;
  padding: .2em;
}

#songAuthor{
  font-size:medium; 
  position: relative;
}

.songCard{
  padding: .5em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.smallCard{

  padding: 0em;
  width:100%;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
  position:fixed;
  bottom:3em;
  text-align: left;
}

.smallCard p{
  margin: 0 0 0 20px ;
  padding: 0em;
  overflow:hidden;
  text-overflow: ellipsis;
}

.smallCard > div:nth-child(1){
  display:inline-block;
  position:relative;
  width:75%;
  bottom: 25%;
  transform: translate(0, 25%);
  overflow:hidden;
  text-overflow: ellipsis;
}

.playButton{
  cursor:pointer;
}

.smallCardPlayButton{
  position:absolute;
  top: 50%;
  right:5%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1000px) {
  .songCard {
    width: 50%;
    padding: 1em 0 .7em 0;
  }
}

@media only screen and (max-width: 600px) {
  .songCard {
    width: 95%;
    padding: 1em 0 .7em 0;
  }
}

.controlSongDiv{
  display: flex;
  align-items: center; 
  justify-content: center;
  padding:.5em;
  justify-content: space-between;
}



.skipButton{
  padding: 0 .1em 0 .1em;
  cursor: pointer;
  bottom: 6.5%;
  
}

.rewindButton{
  height: 100%;
  padding: 0 .1em 0 .1em;
  cursor: pointer;
}

.blockingDiv{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 999;
}

@media only screen and (max-width: 600px) {
  audio{
    width: 100%;
  }
  .controlSongDiv{
    padding: 0.7em 1.2em 0.7em 1.2em;
  }
}

#subirMusicDiv{
  /* display:flex; */
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#file-selector{
  display:block;
  font-size: large;
  margin-bottom: 0.3em;
}
#file-selector::file-upload-button{
  background-color: red !important;
}

button{
  border-radius: 5px;
  border-width: 0;
  transition: all 0.3s;
  cursor:pointer;
}

.subirMusicButton{
  
  padding:0.4em 0.6em 0.4em 0.6em;
  margin: 0;
  width: 49%;
  
  font-weight: bold;
  font-size: medium;
  /* margin:0.1em; */
}

.subirMusicButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cancelBtn{
  /* background-color:#4681f4 ; */
  background-color: #ED0800 !important;
  margin-left: 2% !important;
  
}
.cancelBtn:hover{
  /* background-color: #5783db; */
  background-color: #ff514b !important;

}

.submitBtnMusicSubir{
  background-color: #33b249;
  transition: all 0.3s;
}
.submitBtnMusicSubir:hover{
  background-color: #53ff70;
}

#listaActualDiv{
  position: absolute;
  top:25%;
}

#subirMusicToggleButton{
  position: absolute;

}

.blue-btn{
  padding:0.4em 0.6em 0.4em 0.6em;
  font-size: medium;
  color: rgb(223, 223, 223);
  font-weight: bold;
  background-color: #285467;
}

.blue-btn:hover{
  background-color: #4087a5;
}

.red-btn{
  padding:0.4em 0.6em 0.4em 0.6em;
  font-size: medium;
  color: rgb(223, 223, 223);
  font-weight: bold;
  background-color: #ED0800;
}

.red-btn:hover{
  background-color: #ed3700;
}

.infoSongsDiv{
  border-style: solid;
  border-width: 0 0 1px 0;
  height: 1.5em;
  border-color:#00818A;
  transition: all 0.3s;
}

.infoSongsDiv:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

@media only screen and (max-width: 600px) {
  .infoSongsDiv{
    padding: 0.2em;
  }
}

.playingCardSong{
  background-color: #00818a79;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.infoSongsDiv p{
  display: inline;
  vertical-align: middle;
  text-align: center;
  line-height: 1.5em;
}

#infoSongsSongName{
  font-weight: bold;
  font-size: small;
}

#infoSongsAuthor{
  font-size: small;
  font-weight: 400;
}

#mostrarCancionesFatherDiv{
  position:absolute;
  top: 5em;
  background-color: #282c34;
  z-index: 5;
}
@media only screen and (max-width: 600px) {
  #mostrarCancionesFatherDiv{
    top: 6em;
  }
  
}

#mostrarCancionesContainer{
  border-radius: 0 0 5px 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-style:solid;
  border-width: 0px;
  transition: height 300ms ease-in-out;
  overflow-y: hidden;
  height: 0;
}

.abierto{
  height: 10em !important;
}

#mostrarCancionesButton{
  width: 100%;
  padding: 0.5em;
  font-size: medium;
}

.buttonAbierto {
  border-radius: 5px 5px 0 0 !important;
}

#infoSongsSpan{
  text-align: center;
  display: inline-block;
  width: 80%;
}

#infoSongsSpanDiv{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-weight:100;
}


#checkboxInfoSong{
  float:right;
  position:relative;
  top:50%;
  cursor:pointer;
  transform: translate(-50%, -70%)
}

@media only screen and (max-width: 600px) {
  #infoSongsSpan{
    position: relative;
    top:20%;
    transform: translateY(-15%);
  }
  
}


#seleccionaCancionDiv{
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
}
#seleccionaCancionDiv p{
  font-size:small;
  vertical-align: middle;
  text-align: center;
}

.seleccionaCancionDivButton{
  transform: translateY(-25%);
  font-size: small;
  color: rgb(223, 223, 223);
  font-weight: bold;
  background-color: #285467;
  padding:0.4em 0.6em 0.4em 0.6em;
}

.eliminarTodasSelecciones{
  margin-left: 1em;
  font-size: small !important;
}

@media only screen and (max-width: 600px) {
  .seleccionaCancionDivButton{
    transform: translateY(0);
  }

  .tranlateY25mobile{
    transform: translateY(25%) !important;
  }
  
}

#seleccionaCancionDiv button:hover{
  background-color: #4087a5;
}

#addListaForm{
  position:absolute;
  display:block;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #282c34;
  width: 40%;
  /* padding: .5em; */
  border-radius: 10px;
  width: 18em;
  margin:0;
}

#formListsDiv{
  overflow-y: scroll;
  width: 100%;
  }

#addListaForm input{
  width: 98%;
  height: 2em;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px 5px 0 0 ;
  font-weight: bold;
}

#addListaForm button{
  padding:0.4em 0.6em 0.4em 0.6em;
  margin: 0;
  width: 49%;
  
  font-weight: bold;
  font-size: medium;
}

@media only screen and (max-width:600px) {
  #addListaForm{
    width: 90%;
  }
  
}

.blueBtn{
  color: rgb(223, 223, 223);
  font-weight: bold;
  background-color: #285467;
  padding:0.4em 0.6em 0.4em 0.6em;
  border-radius: 5px;
}

.blueBtn:hover{
  background-color: #4087a5;
}


.listaAnadirSeleccionada{
  background-color: #00818a79;
  height: 1.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


input { 
  text-align: center; 
}

.listaFormDiv{
  border-style: solid;
  border-width: 0 0 1px 0;
  height: 2.5em;
  border-color:#00818A;
  transition: all 0.3s;
  font-size: medium;
}


.listaFormDiv p{
  display: inline;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5em;
  font-size: medium;
  font-weight: bold;
  height: 2.5em;
}

.listaFormDiv:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

#todasLasCancionesDiv{
  overflow-y: scroll;
  height: 8.5em;
}

@media only screen and (max-width: 600px) {
  .listaFormDiv{
    padding: 0.2em;
  }
  .infoSongsDiv{
    height: 2em;
  }
  #todasLasCancionesDiv{
    height: 13.5em;
    margin-bottom: 0.5em;
  }
  
  .abierto{
    height: 16em !important;
  }


}

#busquedaInput{
  width: 100%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;   
}

#busquedaDiv{
  width: 18em;
  background-color: #282c34;
  position:absolute;
  z-index: 6;
  top: 3em;
}

@media only screen and (max-width: 600px) {
  #busquedaDiv{
    top: 3em;
  }
  
}


#resultadosBusquedaDiv{
  overflow-y: scroll;
}

#resultadosBusquedaContainer{
  border-radius: 0 0 5px 5px;
  /* border-color:red; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-style:solid;
  border-width: 0px;
  /* width: 18em; */
  transition: height 300ms ease-in-out;
  overflow-y: hidden;
  height: 0;
}

/* #selectListaComponent{
  position: absolute;
  bottom: 30%;
  transition:top .5s;
} */

.selectListaComponent{
  /* position: relative; */
  position: fixed;
  bottom: 7em;
  top:0;
  left:0;
  width: 100%;
  /* height: 100%; */
  background-color: #282c34;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.selectListaContainer {
  display:flex;
  position:relative;
  /* position:sticky; */
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;

}

.selectListaComponent::-webkit-scrollbar {
  display: none;
}

.selectListaComponent  h3{
  position: sticky;
  top: 0;
  border-color: #00818A;
  background-color: #282c34;
  z-index: 3;
  border-width: 0 0 1px 0;
  border-style: solid;
  margin:0;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selectListaContainer > div{
  text-align: left;
  padding: 0.6em 1em 0.6em 1em
}

.listElement{
  border-style: solid;
  position:relative;
  border-color: #00818A;
  border-width: 0 0 1px 0;
  cursor:pointer;
}
.listElement:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.listElementPlaying{
  background-color: #00818a79;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.listControlIcon{
  cursor:pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.listName{
  font-size: large;
  font-weight: bold;
  margin:0;
}

.numberSongs{
  font-size: small;
  margin:0;
  color:rgb(134, 134, 134);
}

#selectListaBtn{
  font-size: medium;
  font-weight: bold;
  padding:0.4em 0.6em 0.4em 0.6em;
  margin: 0;
}

.songListInfo{
  text-align: left;
  padding: 0.6em 1em 0.6em 1em;
  border-style: solid;
  position:relative;
  border-color: #00818A;
  border-width: 0 0 1px 0;
}

.songListInfo p{
  margin:0;
}

.listDeleteSong{
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: #ED0800;
}

.repeatIcon{
  cursor:pointer;
  position: absolute;
  right: 20%;
  bottom: 9.25%;
}

@media only screen and (max-width: 600px) {
  .repeatIcon{
    bottom: 6.5%;
  }
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 4px;
  background-color: rgba(0, 0, 0, 0.116);
  z-index: 999;
}

.navbar > div{
  flex-grow:1;
  text-align:center;
  margin:auto;
  color:#00eeff;
  
}

/* Progess Bar */
.progressBarContainer{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  margin: 0;
  width: 90%;
  height: 0.5em;
  background-color: transparent;
}

.progressBarContainerSmallCard{
  position: absolute;
  top:0;
  width: 100vw;
  height: 0.5em;
}

.progressBar {
  width: 100%;
  height: 40%;
  border-radius: 9999px;
  background-color: #f1f1f1;
}


.progressBarInner{
  border-radius: 9999px;
  height: 100%;
  background-color: #00eeff;
}